/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
h1 {font-size: 2vw; color: #444 !important;}
h2 {font-size: 1.8vw;}
h3 {font-size: 1.6vw;}
h4 {font-size: 1.4vw;
  color: #444 !important;
}
h5 {font-size: 1.2vw;
}
h6 {font-size: 1vw;}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin-top: .67em;
  margin-bottom: .67em;
  color: #777;
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin: 0 auto;
  padding: 0 1.5em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: left;
}
body {
  color: #333;
  font-size: 1vw;
  font-family: 'Gentium Book Basic', serif;
  background-color: #ddfdfb;
}
p {
  margin-bottom: .67em;
  margin-left: auto;
  margin-right: auto;
}
.main-image{
  width: 100%;
}
/*--Styles the grid--*/
.grid-container {
  border: 3px;
  padding: 1em;
/*-- enables grid layout--*/
  display: grid;
  grid-gap: 1em 2em;
  grid-template-columns: repeat(3, 1fr);
}
.grid-item {
  border: 2px solid gray;
  padding: .5em;
  background-color: #FFF;
  overflow: auto;
}

.grid-container {
  grid-template-areas:
                      "head head head"
                      "wall blog1 blog1"
                      "wall2 blog2 blog2"
                      "feat3 blog3 blog3"
                      "feat2 blog4 blog4"
                      "close1 close3 close3"
                      "close1 close2 close2"
                      "foot foot foot";
}
.one {
  grid-area: head;
  border: none;
  background: none;
  padding: 0em;
}
.two {
  /*grid-area: feat1;*/
  text-align: center;
}
.three {
  grid-area: feat2;
  align-self: start;
}
.four {
  grid-area: feat3;
  align-self: start;
  display: inline-block;
  justify-content: center;
}
.five {
  grid-area: wall;
  align-self: start;
}
.six {
  grid-area: blog1;
}
.seven {
  grid-area: blog2;
}
/*.eight {
  grid-area: blog3;
}
.nine {
  grid-area: blog4;
}
.ten {
  grid-area: close1;
}*/
.eleven {
  grid-area: wall2;
  align-self: start;
}
/*.twelve {
  grid-area: foot;
}*/
.featured{
  /*styles*/
}
.social{
  width: auto;
  height: 6vw;
/*  float: left;*/
  padding: .5vw;
}
/*-- Styles Links in Pages--*/
a:link, a:visited {
  color: #39CCCC;
  text-decoration: none;
}
a:hover, a:active  {
  color: #0074D9;
  text-decoration: underline;
}
a.active {
  color: #39CCCC;
}
.more{
  float: right;
  padding-top: .33em;
  padding-right: .33em;
}
.btn{
  border-radius: 40px;
  font-size:100%;
  line-height: 1.5vw;
}
.fa-external-link-alt{
  font-size: .75em;
}
/*--Styles movie images--*/
.movie {
  float: left;
  width: 50%;
  padding: .5em .5em;
/*  border: 2px red solid;*/
}
.description{
  /*border: 2px blue solid;*/
  padding-top: .5em;
}
.blog-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.blog-post{
  padding: 0em 3em 1em 3em;
}
/*--Styles Footer--*/
.footer {
   position: sticky;
   bottom: auto;
   text-align: center;
   padding: 1em 0 .3em 0;
   color: #D0D0D0;
   width:100%;
   height: auto;   /* Height of the footer */
   background:#043a32;
}
.grid-container-foot {
  grid-template-areas:
                      "foot1 foot2 foot3";
  padding: 1vw;
  display: grid;
  grid-gap: 1vw 2vw;
  grid-template-columns: repeat(3, 1fr);
}
.foot1 {
  grid-area: foot1;
  border: 3px green dashed;
}
.foot2 {
  grid-area: foot2;
/*  position: absolute;*/
/*  bottom: 0;
  margin-left: 40%;*/
  border: 3px yellow dashed;
  font-size: 1.5vw;
}
.foot3 {
  grid-area: foot3;
  border: 3px green dashed;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
  body {/*background-color: red*/; font-size: 2vw;}
  .btn {font-size:120%;}
  .btn-fix{font-size: 220%;}

  .grid-container-foot{display: flex; /*-- sets the display mode--*/
    flex-direction: column; /*-- sets direction row or column --*/
    justify-content: around; /*-- aligns content on main axis --*/
    flex-wrap: no-wrap; /*-- determines whether content wraps or not --*/}
  .foot1 {order: 1;}
  .foot2{order:3; font-size: 3vw;}
  .foot3{order: 2;}
  /*.grid-container-foot{grid-template-areas:
                        "foot1"
                        "foot3"
                        "foot2";
                      grid-template-rows: repeat(3, 1fr);}
  .foot2 {position: absolute;
    top: 0;}*/
}
