/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin: 0 auto;
  padding: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
body {
  color: #333;
  font-size: 16px;
  font-family: 'Gentium Book Basic', serif;
  background-color: lightgray;
}
p {
  margin-bottom: .67em;
  margin-left: auto;
  margin-right: auto;
}
/*-- Styles Links --*/
a:link, a:visited {
  color: #D0D0D0;
  text-decoration: none;
}
a:hover, a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
a.active {
  color: #F0F0F0;
}
/*--Styles Footer--*/
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
